
.container {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
  }
  

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
}
  
.buttons button {
  padding: 15px 20px;
  font-size: 16px;
  border: 2px solid #007bff;
  background-color: white;
  color: #007bff;
  border-radius: 15px;
  cursor: pointer;
  flex: 1 1 45%;
  max-width: 150px;
  box-sizing: border-box;
  transition: background-color 0.3s;
}
  
.buttons button:active {
  background-color: #007bff;
  color: white;
}

.buttons button:focus {
  background-color: #007bff;
  color: white;
  
.buttons button:hover {
  background-color: #8eafe2;
}
  

.buttons .reset {
  border-color: #dc3545;
  color: #dc3545;
}
  
.buttons .reset:active {
  background-color: #dc3545;
  color: white;
}
  
.buttons .reset:hover {
  background-color: #f8d7da;
}
  


#votesChart {
  margin: 0 auto;
  display: block;
  max-width: 5%; 
  height: 5%; 
}

#Config {
  margin: 20px auto;
  display: block;
  max-width: 1%; 
  height: 1%; 
}
@media (max-width: 768px) {
    .container {
        max-width: 90%;
    }

    .buttons button {
        flex: 1 1 100%; /* Los botones ocupan el ancho completo */
        max-width: 100%;
    }

    #votesChart,
    #Config {
        max-width: 90%;
        height: auto;
    }
}


@media (max-width: 480px) {
    .container {
        max-width: 100%;
        padding: 0 10px;
    }

    .buttons button {
        padding: 10px 15px;
        font-size: 14px;
    }

    #votesChart,
    #Config {
        max-width: 100%;
        height: auto;
    }
}
